# Data Mining Tasks

# Predictive Task

## Classification

In [26]:
from sklearn.datasets import load_iris
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
import pandas as pd

# Load iris dataset
iris = load_iris()
X = iris.data
y = iris.target

df = pd.DataFrame(data=X, columns=iris.feature_names)
df['flower type'] = y
pd.concat([df.iloc[0:3], df.iloc[50:53], df.iloc[100:103]])

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),flower type
0,5.1,3.5,1.4,0.2,0
1,4.9,3.0,1.4,0.2,0
2,4.7,3.2,1.3,0.2,0
50,7.0,3.2,4.7,1.4,1
51,6.4,3.2,4.5,1.5,1
52,6.9,3.1,4.9,1.5,1
100,6.3,3.3,6.0,2.5,2
101,5.8,2.7,5.1,1.9,2
102,7.1,3.0,5.9,2.1,2

In [30]:
# Machine learning algorithms require mapping text data to numbers
dict(zip(range(3), iris.target_names))

{0: 'setosa', 1: 'versicolor', 2: 'virginica'}

In [25]:
# Split the data into training and test sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Train a DecisionTreeClassifier
clf = DecisionTreeClassifier()
clf.fit(X_train, y_train)

# Use the trained classifier to make predictions on the test set
y_pred = clf.predict(X_test)
y_pred

array([1, 0, 2, 1, 1, 0, 1, 2, 1, 1, 2, 0, 0, 0, 0, 1, 2, 1, 1, 2, 0, 2,
       0, 2, 2, 2, 2, 2, 0, 0])

## Regression

In [35]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error
from sklearn.datasets import fetch_california_housing

# Load Boston housing dataset
housing = fetch_california_housing()
X = housing.data
y = housing.target

df = pd.DataFrame(data=X, columns=housing.feature_names)
df[housing.target_names[0]] = y
df.head()

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude,MedHouseVal
0,8.3252,41.0,6.984127,1.023810,322.0,2.555556,37.88,-122.23,4.526
1,8.3014,21.0,6.238137,0.971880,2401.0,2.109842,37.86,-122.22,3.585
2,7.2574,52.0,8.288136,1.073446,496.0,2.802260,37.85,-122.24,3.521
3,5.6431,52.0,5.817352,1.073059,558.0,2.547945,37.85,-122.25,3.413
4,3.8462,52.0,6.281853,1.081081,565.0,2.181467,37.85,-122.25,3.422

In [36]:
# Split the data into training and test sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Train a Linear Regression model
reg = LinearRegression()
reg.fit(X_train, y_train)

# Use the trained regressor to make predictions on the test set
y_pred = reg.predict(X_test)
print("y_pred:", y_pred)

# Compute and print the root mean square error
rmse = mean_squared_error(y_test, y_pred, squared=False)
print(f"Root Mean Squared Error (RMSE): {rmse}")

y_pred: [0.71912284 1.76401657 2.70965883 ... 4.46877017 1.18751119 2.00940251]
Root Mean Squared Error (RMSE): 0.7455813830127751

# Clustering

In [38]:
from sklearn.cluster import KMeans

# Use iris dataset
X = iris.data

df = pd.DataFrame(data=X, columns=iris.feature_names)
df.head()

   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                5.1               3.5                1.4               0.2
1                4.9               3.0                1.4               0.2
2                4.7               3.2                1.3               0.2
3                4.6               3.1                1.5               0.2
4                5.0               3.6                1.4               0.2

In [39]:
# Apply KMeans clustering
kmeans = KMeans(n_clusters=3, random_state=42)
kmeans.fit(X)

# Predict the cluster labels
labels = kmeans.predict(X)
labels

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\cluster\_kmeans.py:870: FutureWarning: The default value of `n_init` will change from 10 to 'auto' in 1.4. Set the value of `n_init` explicitly to suppress the warning
  warnings.warn(
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\cluster\_kmeans.py:1382: UserWarning: KMeans is known to have a memory leak on Windows with MKL, when there are less chunks than available threads. You can avoid it by setting the environment variable OMP_NUM_THREADS=1.
  warnings.warn(

array([1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 0, 0, 2, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 2, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 2, 0, 2, 2, 2, 2, 0, 2, 2, 2,
       2, 2, 2, 0, 0, 2, 2, 2, 2, 0, 2, 0, 2, 0, 2, 2, 0, 0, 2, 2, 2, 2,
       2, 0, 2, 2, 2, 2, 0, 2, 2, 2, 0, 2, 2, 2, 0, 2, 2, 0])

# Association Analysis

In [44]:
#!pip install mlxtend

from mlxtend.frequent_patterns import apriori
from mlxtend.frequent_patterns import association_rules
import pandas as pd
import numpy as np
from mlxtend.preprocessing import TransactionEncoder

# list of transactions where each transaction is a list of items
data = [
    ['milk', 'onion', 'nutmeg', 'kidney beans', 'eggs', 'yogurt'],
    ['dill', 'onion', 'nutmeg', 'kidney beans', 'eggs', 'yogurt'],
    ['milk', 'apple', 'kidney beans', 'eggs'],
    ['milk', 'unicorn', 'corn', 'kidney beans', 'yogurt'],
    ['corn', 'onion', 'onion', 'kidney beans', 'ice cream', 'eggs']
]

df = pd.DataFrame(data=data)
df.head()

      0        1             2             3          4       5
0  milk    onion        nutmeg  kidney beans       eggs  yogurt
1  dill    onion        nutmeg  kidney beans       eggs  yogurt
2  milk    apple  kidney beans          eggs       None    None
3  milk  unicorn          corn  kidney beans     yogurt    None
4  corn    onion         onion  kidney beans  ice cream    eggs

In [45]:
te = TransactionEncoder()
te_ary = te.fit(data).transform(data)
df = pd.DataFrame(te_ary, columns=te.columns_)

# Compute all frequent itemsets
frequent_itemsets = apriori(df, min_support=0.6, use_colnames=True)

# Generate all rules with lift > 1.2
rules = association_rules(frequent_itemsets, metric="confidence", min_threshold=.75)
rules

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(eggs),(kidney beans),0.8,1.0,0.8,1.0,1.00,0.00,inf
1,(kidney beans),(eggs),1.0,0.8,0.8,0.8,1.00,0.00,1.0
2,(onion),(eggs),0.6,0.8,0.6,1.0,1.25,0.12,inf
3,(milk),(kidney beans),0.6,1.0,0.6,1.0,1.00,0.00,inf
4,(onion),(kidney beans),0.6,1.0,0.6,1.0,1.00,0.00,inf
5,(yogurt),(kidney beans),0.6,1.0,0.6,1.0,1.00,0.00,inf
6,"(eggs, onion)",(kidney beans),0.6,1.0,0.6,1.0,1.00,0.00,inf
7,"(kidney beans, onion)",(eggs),0.6,0.8,0.6,1.0,1.25,0.12,inf
8,(onion),"(eggs, kidney beans)",0.6,0.8,0.6,1.0,1.25,0.12,inf

## Anomaly Detection

In this example, we generate random data similar to the previous example. We combine normal and outlier data, then initialize and fit the Gaussian Mixture Model (GaussianMixture) to the combined data. The n_components parameter is set to 2, indicating the number of mixture components in the model.

After fitting the model, we calculate the log-likelihood scores for each data point using the score_samples method. We set a threshold for anomaly detection by calculating the 5th percentile of the scores.

In [50]:
import numpy as np
from sklearn.mixture import GaussianMixture

# Generate random data
rng = np.random.RandomState(42)
X = 0.3 * rng.randn(100, 2)  # Normal data
X_outliers = rng.uniform(low=-4, high=4, size=(20, 2))  # Outliers

# Combine normal and outlier data
X = np.concatenate([X, X_outliers], axis=0)

# Fit the Gaussian Mixture Model
clf = GaussianMixture(n_components=2, covariance_type='full')
clf.fit(X)

# Calculate the scores for each data point
scores = clf.score_samples(X)

# Set a threshold for anomaly detection
threshold = np.percentile(scores, 5)

# Predict anomalies
y_pred = scores < threshold

# Print the predicted values (True for anomalies, False for normal data)
print(y_pred)

[False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
  True  True  True False False  True False False False  True  True False]

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\cluster\_kmeans.py:1382: UserWarning: KMeans is known to have a memory leak on Windows with MKL, when there are less chunks than available threads. You can avoid it by setting the environment variable OMP_NUM_THREADS=1.
  warnings.warn(

we predict anomalies by comparing the scores to the threshold. The printed output contains the predicted values, where True indicates an anomaly and False indicates normal data.